@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    ITT Dublin,<br />
    Institute of Technology Tallaght<br />
    Tallaght, Dublin 24, Ireland<br />
</address>
 ,

<address>
    <strong>Support:</strong>   <a href="matthewbrenn@hotmail.com">matthewbrenn@hotmail.com</a><br />
</address>