@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Airtricity Match Reports</h1>
    <p class="lead">Airtricity Match Reports is a Website containing SSE Airtricity Fixtures and Match Reports</p>
</div>
